body {
  background-color: rgb(147, 210, 255);
  font-family: 'Alice', serif;
}

.game {
  display: flex;
  min-height: 650px;
  min-width: 550px;
  max-width: 900px;
  margin: 20px;
}

.events {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(255, 208, 107);
  border: 2px solid black;
  padding: auto;
}

/* ////////////////////////////////// */

.playerInfo {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  font-size: 20px;
}

#health {
  margin: 10px;
}

#turnInd {
  margin: 10px;
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

@keyframes flash {
  0% {color: black;}
  50% {color: red;}
  100% {color: black;}
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 2;
  position: relative;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {bottom: 0px;}
  25% {bottom: -7px;}
  75% {bottom: 7px;}
  100% {bottom: 0px;}
}

/* ///////////////////////////////// */

.equipedWeapon {
  text-align: center;
}

.weaponSelect {
  height: 15%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.weapons {
  font-family: 'Alice', serif;
  background-color: rgb(248, 247, 161);
  margin: 3px;
}

.weapons:hover {
  background-color: rgb(228, 196, 126);
}

.clickNote {
  font-size: 14px;
  align-self: center;
  justify-self: center;
  background-color: inherit;
}

/* /////////////////////////////////// */

.textBox {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 40%;
  padding: 10px;
}

/* /////////////////////////////////// */

.buttons {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#startButton {
  background-color: rgb(248, 247, 161);
  font-family: 'Alice', serif;
  height: 45px;
  width: 80px;
}

#startButton:hover {
  background-color: rgb(228, 196, 126);
}

#fightButton {
  background-color: rgb(248, 247, 161);
  font-family: 'Alice', serif;
  height: 45px;
  width: 80px;
}

#fightButton:hover {
  background-color: rgb(228, 196, 126);
}

/* ///////////////////////////////////// */

.board {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  display: grid;
  width: 70%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  background-color: rgb(118, 183, 26);
}

.square {
  background-color: rgb(162, 78, 0);
  border: 1px solid black;
}

.start {
  background-color: yellow;
}

.empty {
  background-color: white;
}

.shop {
  background-color: green;
}

.ranFight {
background-color: rgb(125, 0, 0);
}

.respawn {
  background-color: aqua;
}

.finish {
  background-color: yellow;
}

.player1 {
  background-image: url(https://imgur.com/5jsDmrk.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.player2 {
  background-image: url(https://imgur.com/0ibGwVo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.player1.player2 {
  background-image: url(https://imgur.com/z7IzaB1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#sq0 {
  grid-column-start: 4;
  grid-row-start: 20;
}

#sq1{
  grid-column-start: 4;
  grid-row-start: 19;
}

#sq2{
  grid-column-start: 4;
  grid-row-start: 18;
}

#sq3{
  grid-column-start: 5;
  grid-row-start: 18;
}

#sq4{
  grid-column-start: 6;
  grid-row-start: 18;
}

#sq5{
  grid-column-start: 7;
  grid-row-start: 18;
}

#sq6{
  grid-column-start: 8;
  grid-row-start: 18;
}

#sq7{
  grid-column-start: 8;
  grid-row-start: 17;
}

#sq8{
  grid-column-start: 8;
  grid-row-start: 16;
}

#sq9{
  grid-column-start: 8;
  grid-row-start: 15;
}

#sq10{
  grid-column-start: 8;
  grid-row-start: 14;
}

#sq11{
  grid-column-start: 8;
  grid-row-start: 13;
}

#sq12{
  grid-column-start: 7;
  grid-row-start: 13;
}

#sq13{
  grid-column-start: 6;
  grid-row-start: 13;
}

#sq14{
  grid-column-start: 5;
  grid-row-start: 13;
}

#sq15{
  grid-column-start: 5;
  grid-row-start: 12;
}

#sq16{
  grid-column-start: 5;
  grid-row-start: 11;
}

#sq17{
  grid-column-start: 6;
  grid-row-start: 11;
}

#sq18{
  grid-column-start: 7;
  grid-row-start: 11;
}

#sq19 {
  grid-column-start: 8;
  grid-row-start: 11;
}

#sq20{
  grid-column-start: 9;
  grid-row-start: 11;
}

#sq21{
  grid-column-start: 10;
  grid-row-start: 11;
}

#sq22{
  grid-column-start: 11;
  grid-row-start: 11;
}

#sq23{
  grid-column-start: 11;
  grid-row-start: 12;
}

#sq24{
  grid-column-start: 11;
  grid-row-start: 13;
}

#sq25{
  grid-column-start: 11;
  grid-row-start: 14;
}

#sq26{
  grid-column-start: 12;
  grid-row-start: 14;
}

#sq27{
  grid-column-start: 13;
  grid-row-start: 14;
}

#sq28{
  grid-column-start: 13;
  grid-row-start: 15;
}

#sq29{
  grid-column-start: 13;
  grid-row-start: 16;
}

#sq30{
  grid-column-start: 14;
  grid-row-start: 16;
}

#sq31{
  grid-column-start: 15;
  grid-row-start: 16;
}

#sq32{
  grid-column-start: 16;
  grid-row-start: 16;
}

#sq33{
  grid-column-start: 17;
  grid-row-start: 16;
}

#sq34{
  grid-column-start: 17;
  grid-row-start: 15;
}

#sq35{
  grid-column-start: 17;
  grid-row-start: 14;
}

#sq36{
  grid-column-start: 17;
  grid-row-start: 13;
}

#sq37{
  grid-column-start: 17;
  grid-row-start: 12;
}

#sq38{
  grid-column-start: 17;
  grid-row-start: 11;
}

#sq39{
  grid-column-start: 17;
  grid-row-start: 10;
}

#sq40{
  grid-column-start: 17;
  grid-row-start: 9;
}

#sq41{
  grid-column-start: 17;
  grid-row-start: 8;
}

#sq42{
  grid-column-start: 16;
  grid-row-start: 8;
}

#sq43{
  grid-column-start: 15;
  grid-row-start: 8;
}

#sq44{
  grid-column-start: 14;
  grid-row-start: 8;
}

#sq45{
  grid-column-start: 13;
  grid-row-start: 8;
}

#sq46{
  grid-column-start: 12;
  grid-row-start: 8;
}

#sq47{
  grid-column-start: 12;
  grid-row-start: 7;
}

#sq48{
  grid-column-start: 12;
  grid-row-start: 6;
}

#sq49{
  grid-column-start: 12;
  grid-row-start: 5;
}

#sq50{
  grid-column-start: 11;
  grid-row-start: 5;
}

#sq51{
  grid-column-start: 10;
  grid-row-start: 5;
}

#sq52{
  grid-column-start: 10;
  grid-row-start: 4;
}

#sq53{
  grid-column-start: 10;
  grid-row-start: 3;
}

#sq54{
  grid-column-start: 11;
  grid-row-start: 3;
}

#sq55{
  grid-column-start: 12;
  grid-row-start: 3;
}

#sq56{
  grid-column-start: 13;
  grid-row-start: 3;
}

#sq57{
  grid-column-start: 14;
  grid-row-start: 3;
}

#sq58{
  grid-column-start: 14;
  grid-row-start: 2;
}

#sq59{
  grid-column-start: 14;
  grid-row-start: 1;
}